<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}

    <script>
document.addEventListener("DOMContentLoaded", function () {
  const toggleSwitch = document.getElementById("theme-toggle");
  const body = document.body;
  const userPrefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;

  // Check local storage or system preference
  if (localStorage.getItem("dark-mode") === "enabled" || (!localStorage.getItem("dark-mode") && userPrefersDark)) {
    body.classList.add("dark-mode");
    toggleSwitch.checked = true;
  }

  toggleSwitch.addEventListener("change", function () {
    body.classList.toggle("dark-mode");
    localStorage.setItem("dark-mode", body.classList.contains("dark-mode") ? "enabled" : "disabled");
  });
});
    </script>
  </body>
</html>
